[submodule "third_party/icons"]
	path = third_party/icons
	url = https://github.com/google/material-design-icons
[submodule "third_party/fonts"]
	path = third_party/fonts
	url = https://github.com/google/fonts
